.nav {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.nav-wrapper {
    width: 90%;
    margin: 0 auto;
}

.nav-logo h2{
    float: left;
    margin-right: 40px;
    color: rgba(35, 111, 33, 1);
}

.nav-item {
    float: left;
    line-height: 65px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 40px;
    transition: 0.5s;
}

.nav-item:hover {
    color:rgba(255, 255, 255, 0.5);
}