<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/776e7ea19b.js" crossorigin="anonymous"></script>
    <title>OI Learn</title>
</head>

<body>
    <header>
        <div class="nav">
            <div class="nav-wrapper">
                <div class="nav-logo">
                    <h2><a href="/">OI-Learn</a></h2>
                </div>
                <div class="nav-items">
                    <a class="nav-item" href="/mypage">My Page</a>
                    {% if user_is_logged_in %}
                    <a class="nav-item" href="/logout">Log Out</a>
                    {% else %}
                    <a class="nav-item" href="/login">Log In</a>
                    <a class="nav-item" href="/signup">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="copy">
            <div class="copy-heading">
                <h1>Have Fun&Learn</h1>
                <p>Input phrases before you watch videos or read articles.</p>
            </div>
            <div class="login">
                {% if user_is_logged_in %}
                {% else %}
                <a class="login-btn btn" href="/login">Login</a>
                <a class="sign-up btn" href="/signup">Signup</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div class="cards-wrapper">
            {% for i in range(length) %}
            <div class="cards-row-wrapper">
                <div class="expand-wrapper">
                    <p class="genre">{{ video_data_dict_keys[i] }}</p>
                    <a class="expand" href="#">Expand All
                        <span class="fa-sharp fa-solid fa-arrow-right" style="color: #236f21"></span>
                    </a>
                </div>
                <div class="cards-row">
                    {% for k in range(6) %}
                    <a class="card" href="/content/{{ video_data_dict[video_data_dict_keys[i]][0][k] }}">
                        <img
                            src="{{ video_data_dict[video_data_dict_keys[i]][2][k] }}">
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <h3>© 2023 Fuya Koshiro.</h3>
    </footer>
</body>

</html>