{% extends "index.html" %} 

{% block body %}



<main class="flex-shrink-0">
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Have Fun & Learn</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Learn phrases before watching videos</p>
                        {% if user_is_logged_in %}
                        <h2>What do you want to watch?</h2>
                        {% else %}
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Login</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="/signup">Signup</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="static/images.jpeg" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
          <div class="row gx-5">
            {% for i in range(length) %}
            <div class="col-lg-3 mb-5">
                <div class="card h-100 shadow border-0">
                    <!-- <img class="card-img-top" src="{{ video_thumbnail_paths[i] }}" alt="{{ video_thumbnail_paths[i] }}"/> -->
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Video</div>
                        <a class="text-decoration-none link-dark stretched-link" href="/content/{{ video_codes[i] }}"><h5 class="card-title mb-3">{{ video_titles[i] }}</h5></a>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
{% endblock %}
