<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/login_request.css">
  <script src="https://kit.fontawesome.com/776e7ea19b.js" crossorigin="anonymous"></script>
  <title>OI Learn</title>
</head>

<body>

  <header>
    <div class="nav">
      <div class="nav-wrapper">
        <div class="nav-logo">
          <h2><a href="/">OI-Learn</a></h2>
        </div>
        <div class="nav-items">
          <a class="nav-item" href="/mypage">My Page</a>
          {% if user_is_logged_in %}
          <a class="nav-item" href="/logout">Log Out</a>
          {% else %}
          <a class="nav-item" href="/login">Log In</a>
          <a class="nav-item" href="/signup">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="login-request-wrapper">
      <div class="login-request-message">
        <h1>Login to unlock the feature.</h1>
      </div>
      <div class="input-wrapper">
        <form method="POST">
          <ul>
            <li><input type="email" class="email-form" placeholder="Email" name="email"></li>
            <li><input type="password" class="pass-form" placeholder="Password" name="password"></li>
            <li><button type="submit" class="submit-btn">Sign in</button></li>
          </ul>
        </form>
      </div>
      <div class="signup">
        <p>You don't have an account?
          <a href="/signup">Signup</a>
        </p>
      </div>
    </div>
    </div>
  </main>
  <footer>
    <h3>© 2023 Fuya Koshiro.</h3>
  </footer>

</body>

</html>