<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Users/fuyakoshiro/programming/english_phrases/webapp_oilearn/static/css/nav.css">
    <title>OI Learn</title>
  </head>

  <body>
    <div class="nav">
        <div class="nav-wrapper">
            <div class="nav-logo">
                <h2>OI-Learn</h2>
            </div>
            <div class="nav-items">
                <a class="nav-item" href="/mypage">My Page</a>
                <a class="nav-item" href="/logout">Log Out</a>
                <a class="nav-item" href="/login">Log In</a>
                <a class="nav-item" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
  </body>
</html>











<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">OI-Learn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/mypage">Mypage</a></li>
                {% if user_is_logged_in %}
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> -->