<div class="nav">
    <div class="nav-wrapper">
        <div class="nav-logo">
            <h2><a href="/">OI-Learn</a></h2>
        </div>
        <div class="nav-items">
            <a class="nav-item" href="/mypage">My Page</a>
            {% if user_is_logged_in %}
            <a class="nav-item" href="/logout">Log Out</a>
            {% else %}
            <a class="nav-item" href="/login">Log In</a>
            <a class="nav-item" href="/signup">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>