<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/signup.css">
  <script src="https://kit.fontawesome.com/776e7ea19b.js" crossorigin="anonymous"></script>
  <title>OI Learn</title>
</head>

<body>
  <header>
    <div class="nav">
      <div class="logo">
        <h2><a href="/">OI-Learn</a></h2>
      </div>
    </div>
  </header>

  <main>
    <div class="signup-wrapper">
      <div class="signup-heading">
        <h2>Let's start a new learning journey</h2>
        <p>New knowledge is waiting for you</p>
      </div>

      <div class="input-wrapper">
        <form method="POST">
          <ul>
            <li><input type="text" class="username-form" placeholder="Username" name="username"></li>
            <li><input type="email" class="email-form" placeholder="Email" name="email"></li>
            <li><input type="password" class="pass-form" placeholder="Password" name="password"></li>
            <li><input type="password" class="pass-confirm-form" placeholder="Confirm Password" name="confirm_password"></li>
            <li><button type="submit" class="submit-btn">Sign up</button></li>
          </ul>
        </form>
      </div>

      <div class="login">
        <p>Already have an account?
          <a href="/login">Login</a>
        </p>
      </div>
    </div>
  </main>

  <footer>
    <h3>© 2023 Fuya Koshiro.</h3>
  </footer>

</body>